In [2]:
import pandas as pd

In [7]:
pokedex = pd.read_csv(r'../../data/csv/Pokedex.csv')
pokedex.head()

,pokedex_number,english_name,german_name,generation,species,type_1,type_2,type_number,weight_kg,height_m,...,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy,japanese_name
0,1,Bulbasaur,Bisasam,1,Seed Pokémon,Grass,Poison,2,69,7,...,2,2,1,1,1,1,1,1,5,フシギダネ (Fushigidane)
1,2,Ivysaur,Bisaknosp,1,Seed Pokémon,Grass,Poison,2,13,1,...,2,2,1,1,1,1,1,1,5,フシギソウ (Fushigisou)
2,3,Venusaur,Bisaflor,1,Seed Pokémon,Grass,Poison,2,100,2,...,2,2,1,1,1,1,1,1,5,フシギバナ (Fushigibana)
3,4,Charmander,Glumanda,1,Lizard Pokémon,Fire,NaN,1,85,6,...,1,1,5,2,1,1,1,5,5,ヒトカゲ (Hitokage)
4,5,Charmeleon,Glutexo,1,Flame Pokémon,Fire,NaN,1,19,11,...,1,1,5,2,1,1,1,5,5,リザード (Lizardo)