In [2]:
import pandas as pd

In [92]:
pokedex = pd.read_csv(r'../../data/csv/pokedex.csv')
pokedex.head()

,Unnamed: 0,pokedex_number,english_name,german_name,generation,species,type_1,type_2,type_number,weight_kg,...,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy,japanese_name
0,0,1,Bulbasaur,Bisasam,1,Seed Pokémon,Grass,Poison,2,6.9,...,2,2,1,1,1,1,1,1,5,フシギダネ (Fushigidane)
1,1,2,Ivysaur,Bisaknosp,1,Seed Pokémon,Grass,Poison,2,1.3,...,2,2,1,1,1,1,1,1,5,フシギソウ (Fushigisou)
2,2,3,Venusaur,Bisaflor,1,Seed Pokémon,Grass,Poison,2,10.0,...,2,2,1,1,1,1,1,1,5,フシギバナ (Fushigibana)
3,3,4,Charmander,Glumanda,1,Lizard Pokémon,Fire,NaN,1,8.5,...,1,1,5,2,1,1,1,5,5,ヒトカゲ (Hitokage)
4,4,5,Charmeleon,Glutexo,1,Flame Pokémon,Fire,NaN,1,1.9,...,1,1,5,2,1,1,1,5,5,リザード (Lizardo)

In [87]:
# Deprecated normalize of columns

#new_weight = pokedex['weight_kg'] * 0.1
#new_height = pokedex['height_m'] * 0.1
#new_percentages = pokedex['percentage_male'] * 0.1

#pokedex['weight_kg'] = new_weight.round(1)
#pokedex['height_m'] = new_height.round(1)
#pokedex['percentage_male'] = new_percentages.round(1)

# 25 zu 2.5 und 5 zu 0.5
against = pokedex[['against_fire','against_bug', 'against_dark', 'against_dragon', 'against_electric', 'against_fairy', 'against_fight', 'against_flying', 'against_ghost', 'against_grass', 'against_ice', 'against_ground', 'against_normal', 'against_poison', 'against_psychic', 'against_rock', 'against_steel', 'against_water']].copy()

p = [x for x in against.columns]
for column in p :
    against.loc[:, column] = against[column].astype('float64')

print(against.dtypes)

against_fire        int64
against_bug         int64
against_dark        int64
against_dragon      int64
against_electric    int64
against_fairy       int64
against_fight       int64
against_flying      int64
against_ghost       int64
against_grass       int64
against_ice         int64
against_ground      int64
against_normal      int64
against_poison      int64
against_psychic     int64
against_rock        int64
against_steel       int64
against_water       int64
dtype: object

In [89]:

counter = [x for x in against.columns]
for column in counter :
    against.loc[against[column] == 25, column] = 2.5

against

C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5
C:\Users\magnu\AppData\Local\Temp\ipykernel_23772\1137318779.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  against.loc[against[column] == 25, column] = 2.5

,against_fire,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_flying,against_ghost,against_grass,against_ice,against_ground,against_normal,against_poison,against_psychic,against_rock,against_steel,against_water
0,2.0,1.0,1.0,1.0,5.0,5.0,5.0,2.0,1.0,2.5,2.0,1.0,1.0,1.0,2.0,1.0,1.0,5.0
1,2.0,1.0,1.0,1.0,5.0,5.0,5.0,2.0,1.0,2.5,2.0,1.0,1.0,1.0,2.0,1.0,1.0,5.0
2,2.0,1.0,1.0,1.0,5.0,5.0,5.0,2.0,1.0,2.5,2.0,1.0,1.0,1.0,2.0,1.0,1.0,5.0
3,5.0,5.0,1.0,1.0,1.0,5.0,1.0,1.0,1.0,5.0,5.0,2.0,1.0,1.0,1.0,2.0,5.0,2.0
4,5.0,5.0,1.0,1.0,1.0,5.0,1.0,1.0,1.0,5.0,5.0,2.0,1.0,1.0,1.0,2.0,5.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,5.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,5.0,1.0,1.0,1.0,1.0,1.0,5.0,5.0
382,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,5.0,1.0,5.0,1.0,2.0
383,5.0,5.0,1.0,2.0,1.0,2.0,5.0,1.0,1.0,2.5,4.0,0.0,1.0,1.0,1.0,2.0,1.0,5.0
384,2.0,1.0,2.0,5.0,1.0,5.0,1.0,5.0,2.0,5.0,5.0,2.0,5.0,0.0,2.5,5.0,5.0,1.0
385,1.0,2.0,2.0,1.0,1.0,1.0,5.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,5.0,1.0,1.0,1.0

In [24]:
pokedex.to_csv('./pokedex_new.csv')