In [1]:
import pandas as pd

In [5]:
pokedex = pd.read_csv(r'../../data/csv/pokedex.csv.csv')
pokedex.head()

,Unnamed: 0,pokedex_number,english_name,german_name,generation,species,type_1,type_2,type_number,weight_kg,...,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy,japanese_name
0,0,1,Bulbasaur,Bisasam,1,Seed Pokémon,Grass,Poison,2,6.9,...,2,2,1,1,1,1,1,1,5,フシギダネ (Fushigidane)
1,1,2,Ivysaur,Bisaknosp,1,Seed Pokémon,Grass,Poison,2,1.3,...,2,2,1,1,1,1,1,1,5,フシギソウ (Fushigisou)
2,2,3,Venusaur,Bisaflor,1,Seed Pokémon,Grass,Poison,2,10.0,...,2,2,1,1,1,1,1,1,5,フシギバナ (Fushigibana)
3,3,4,Charmander,Glumanda,1,Lizard Pokémon,Fire,NaN,1,8.5,...,1,1,5,2,1,1,1,5,5,ヒトカゲ (Hitokage)
4,4,5,Charmeleon,Glutexo,1,Flame Pokémon,Fire,NaN,1,1.9,...,1,1,5,2,1,1,1,5,5,リザード (Lizardo)

In [18]:
# normalize of columns

# new_weight = pokedex['weight_kg'] * 0.1
# new_height = pokedex['height_m'] * 0.1
# new_percentages = pokedex['percentage_male'] * 0.1

# pokedex['weight_kg'] = new_weight.round(1)
# pokedex['height_m'] = new_height.round(1)
# pokedex['percentage_male'] = new_percentages.round(1)

# Spalten dTypes casten: Int zu Float
# 25 zu 2.5 und 5 zu 0.5
# against = pokedex[['against_fire','against_bug', 'against_dark', 'against_dragon', 'against_electric', 'against_fairy', 'against_fight', 'against_flying', 'against_ghost', 'against_grass', 'against_ice', 'against_ground', 'against_normal', 'against_poison', 'against_psychic', 'against_rock', 'against_steel', 'against_water']].copy()
# against_cols = against.columns
#
# for col in against_cols:
#     pokedex[col] = pokedex[col].astype('float')
#
# print(pokedex.dtypes)

Unnamed: 0            int64
pokedex_number        int64
english_name         object
german_name          object
generation            int64
species              object
type_1               object
type_2               object
type_number           int64
weight_kg           float64
height_m            float64
is_sub_legendary      int64
is_legendary          int64
is_mythical           int64
abilities_number      int64
ability_1            object
ability_2            object
ability_hidden       object
total_points          int64
hp                    int64
attack                int64
defense               int64
sp_attack             int64
sp_defense            int64
speed                 int64
catch_rate            int64
base_friendship       int64
base_experience       int64
growth_rate          object
egg_type_number       int64
egg_type_1           object
egg_type_2           object
percentage_male     float64
egg_cycles            int64
against_normal      float64
against_fire        float64
against_water       float64
against_electric    float64
against_grass       float64
against_ice         float64
against_fight       float64
against_poison      float64
against_ground      float64
against_flying      float64
against_psychic     float64
against_bug         float64
against_rock        float64
against_ghost       float64
against_dragon      float64
against_dark        float64
against_steel       float64
against_fairy       float64
japanese_name        object
dtype: object

In [19]:
# Ersetzen von 25er zu 2.5
# pokedex.loc[against['against_fire'] == 25, 'against_fire'] = 2.5
# pokedex.loc[against['against_bug'] == 25, 'against_bug'] = 2.5
# pokedex.loc[against['against_dark'] == 25, 'against_dark'] = 2.5
# pokedex.loc[against['against_dragon'] == 25, 'against_dragon'] = 2.5
# pokedex.loc[against['against_electric'] == 25, 'against_electric'] = 2.5
# pokedex.loc[against['against_fairy'] == 25, 'against_fairy'] = 2.5
# pokedex.loc[against['against_fight'] == 25, 'against_fight'] = 2.5
# pokedex.loc[against['against_flying'] == 25, 'against_flying'] = 2.5
# pokedex.loc[against['against_ghost'] == 25, 'against_ghost'] = 2.5
# pokedex.loc[against['against_grass'] == 25, 'against_grass'] = 2.5
# pokedex.loc[against['against_ice'] == 25, 'against_ice'] = 2.5
# pokedex.loc[against['against_ground'] == 25, 'against_ground'] = 2.5
# pokedex.loc[against['against_normal'] == 25, 'against_normal'] = 2.5
# pokedex.loc[against['against_poison'] == 25, 'against_poison'] = 2.5
# pokedex.loc[against['against_psychic'] == 25, 'against_psychic'] = 2.5
# pokedex.loc[against['against_rock'] == 25, 'against_rock'] = 2.5
# pokedex.loc[against['against_steel'] == 25, 'against_steel'] = 2.5
# pokedex.loc[against['against_water'] == 25, 'against_water'] = 2.5
#
# against

,against_fire,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_flying,against_ghost,against_grass,against_ice,against_ground,against_normal,against_poison,against_psychic,against_rock,against_steel,against_water
0,2,1,1,1,5,5,5,2,1,25,2,1,1,1,2,1,1,5
1,2,1,1,1,5,5,5,2,1,25,2,1,1,1,2,1,1,5
2,2,1,1,1,5,5,5,2,1,25,2,1,1,1,2,1,1,5
3,5,5,1,1,1,5,1,1,1,5,5,2,1,1,1,2,5,2
4,5,5,1,1,1,5,1,1,1,5,5,2,1,1,1,2,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,5,1,1,1,2,1,1,1,1,2,5,1,1,1,1,1,5,5
382,1,1,1,1,0,1,1,1,1,2,2,1,1,5,1,5,1,2
383,5,5,1,2,1,2,5,1,1,25,4,0,1,1,1,2,1,5
384,2,1,2,5,1,5,1,5,2,5,5,2,5,0,25,5,5,1
385,1,2,2,1,1,1,5,1,2,1,1,1,1,1,5,1,1,1

In [20]:
# Ersetzen von 5er zu 0.5
# pokedex.loc[against['against_fire'] == 5, 'against_fire'] = 0.5
# pokedex.loc[against['against_bug'] == 5, 'against_bug'] = 0.5
# pokedex.loc[against['against_dark'] == 5, 'against_dark'] = 0.5
# pokedex.loc[against['against_dragon'] == 5, 'against_dragon'] = 0.5
# pokedex.loc[against['against_electric'] == 5, 'against_electric'] = 0.5
# pokedex.loc[against['against_fairy'] == 5, 'against_fairy'] = 0.5
# pokedex.loc[against['against_fight'] == 5, 'against_fight'] = 0.5
# pokedex.loc[against['against_flying'] == 5, 'against_flying'] = 0.5
# pokedex.loc[against['against_ghost'] == 5, 'against_ghost'] = 0.5
# pokedex.loc[against['against_grass'] == 5, 'against_grass'] = 0.5
# pokedex.loc[against['against_ice'] == 5, 'against_ice'] = 0.5
# pokedex.loc[against['against_ground'] == 5, 'against_ground'] = 0.5
# pokedex.loc[against['against_normal'] == 5, 'against_normal'] = 0.5
# pokedex.loc[against['against_poison'] == 5, 'against_poison'] = 0.5
# pokedex.loc[against['against_psychic'] == 5, 'against_psychic'] = 0.5
# pokedex.loc[against['against_rock'] == 5, 'against_rock'] = 0.5
# pokedex.loc[against['against_steel'] == 5, 'against_steel'] = 0.5
# pokedex.loc[against['against_water'] == 5, 'against_water'] = 0.5
#
# against

,against_fire,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_flying,against_ghost,against_grass,against_ice,against_ground,against_normal,against_poison,against_psychic,against_rock,against_steel,against_water
0,2,1,1,1,5,5,5,2,1,25,2,1,1,1,2,1,1,5
1,2,1,1,1,5,5,5,2,1,25,2,1,1,1,2,1,1,5
2,2,1,1,1,5,5,5,2,1,25,2,1,1,1,2,1,1,5
3,5,5,1,1,1,5,1,1,1,5,5,2,1,1,1,2,5,2
4,5,5,1,1,1,5,1,1,1,5,5,2,1,1,1,2,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,5,1,1,1,2,1,1,1,1,2,5,1,1,1,1,1,5,5
382,1,1,1,1,0,1,1,1,1,2,2,1,1,5,1,5,1,2
383,5,5,1,2,1,2,5,1,1,25,4,0,1,1,1,2,1,5
384,2,1,2,5,1,5,1,5,2,5,5,2,5,0,25,5,5,1
385,1,2,2,1,1,1,5,1,2,1,1,1,1,1,5,1,1,1

In [21]:
# als .csv speichern
# pokedex.to_csv('./pokedex.csv')